<%- include('../includes/header.ejs') %>
<body>
<%- include('../includes/nav.ejs') %>

	<main class="mt">
		<div class="container">
			<% if (cart.length<1) { %>
				<h1 class="text-center y-2">No carts available</h1>
			<% } else { %>
				<div class="card mx-auto text-center">
					<ul class="mb">
						<%cart.forEach(item=>{%>
								<li class="d-block">
									<div class="cart-item">
										<p class="mb"><%= item.title %> (<%= item.cartItem.qty %>)</p>
										<form method="post" action="/cart-delete">
											<input type="hidden" value="<%= item.id %>" name="id">
											<button type="submit" class="button bg-warning">Remove</button>
										</form>
									</div>
								</li>
						<%})%>
					</ul>
					<div class="mx-auto mt">
						<form method="post" action="/cart-clear">
							<button class="button bg-success" type="submit">Order now</button>
						</form>
					</div>
				</div>
			<% } %>
			
		</div>
	</main>

<%- include('../includes/footer.ejs') %>